[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "oh-my-posh"]
	path = oh-my-posh
	url = https://github.com/JanDeDobbeleer/oh-my-posh
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/aloxaf/fzf-tab
[submodule "themes/celestial-gtk-theme"]
	path = themes/celestial-gtk-theme
	url = https://github.com/zquestz/celestial-gtk-theme.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux2k"]
	path = tmux/plugins/tmux2k
	url = https://github.com/2KAbhishek/tmux2k.git
